* {
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}

.header-wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #4aaaa5;
	height: 100px;
}

.header-1 {
	margin: 0 auto;/* centers */
	width: 960px;
	height: 100px;
	overflow: hidden;
}

header {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px;
	background-color: #ffffff;
	height: 100%;

}

.navigation-bar {
	display: table-cell;
	vertical-align: middle;
	float: right;
	background-color: orange;
}

.main-content-wrapper {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url('../images/seigaiha.png');
	background-repeat: repeat;
}

.about-me-content {
	margin: 0 auto;
	width: 960px;
}

.main-content {
	padding: 10px;
	width: 650px;
	float: left;
}

.connect-with-me {
	padding: 10px;
	width: 270px;
	float: right;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #666666;
	text-align: center;
}